@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('../src/assets/fonts/Pretendard-Regular.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('../src/assets/fonts/Pretendard-Medium.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('../src/assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('../src/assets/fonts/Pretendard-Bold.woff2') format('woff2');
    font-display: swap;
  }

  body {
    font-family: 'Pretendard', sans-serif;
  }
}

/*텍스트창에 특수기호 폭주해도 안깨지게 방어*/
.break-anywhere {
  overflow-wrap: anywhere;
  word-break: break-word;
}
